.content-wrapper.d-flex.align-items-stretch.auth.auth-img-bg
  .row.flex-grow
    .col-lg-6.d-flex.align-items-center.justify-content-center
      .auth-form-transparent.text-left.p-3
        .brand-logo
          = image_tag("logo/logo.png")
        h4 Resend confirmation instructions
        = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'pt-3'}) do |f|
          = render "devise/shared/error_messages", resource: resource
          .form-group
            label for="exampleInputEmail"  Username
            .input-group
              .input-group-prepend.bg-transparent
                span.input-group-text.bg-transparent.border-right-0
                  i.mdi.mdi-account-outline.text-primary
              = f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control form-control-lg border-left-0', placeholder: "Username"
          .form-group
            = render "users/shared/links"
          .my-3
            = f.submit "Resend confirmation instructions", class: 'btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn'
    .col-lg-6.login-half-bg.d-flex.flex-row
      p.text-white.font-weight-medium.text-center.flex-grow.align-self-end Copyright &copy; 2018  All rights reserved.
