= simple_form_for(@user, defaults: { wrapper: false }, as: :user, method: action, url: url) do |f|
  .row
    .col-md-4.form-group
      = f.input :first_name, label: "First Name", input_html: {class: 'form-control'}
    .col-md-4.form-group
      = f.input :last_name, label: "Last Name", input_html: {class: 'form-control'}
    .col-md-4.form-group
      = f.input :email, label: "Email", input_html: {class: 'form-control'}
    .col-md-4.form-group
      = f.input :password, label: "Password", input_html: {class: 'form-control'}
    .col-md-4.form-group
      = f.input :password_confirmation, label: "Confirm Password", input_html: {class: 'form-control'}
  .row
    .col-md-4
      = f.button :submit, class: 'form-control btn-success'