.row
  .col-md-12.grid-margin
    .d-flex.justify-content-between.flex-wrap
      .d-flex.align-items-end.flex-wrap
        .mr-md-3.mr-xl-5
          h2 Users
          p.mb-md-0 Edit member's information.
    br
    .d-flex.justify-content-between.flex-wrap
      .d-flex.align-items-end.flex-wrap
        .d-flex
          i.mdi.mdi-home.text-muted.hover-cursor
          p.text-muted.mb-0.hover-cursor &nbsp;/&nbsp;Dashboard&nbsp;/&nbsp;
          p.text-muted.mb-0.hover-cursor Users / &nbsp; 
          p.text-primary.mb-0.hover-cursor Edit

.row
  .col-md-12.stretch-card
    .card
      .card-body
        = render partial: 'form', locals: {url: users_profile_path(@user), action: :patch}