.row
  .col-md-12.grid-margin
    .d-flex.justify-content-between.flex-wrap
      .d-flex.align-items-end.flex-wrap
        .mr-md-3.mr-xl-5
          h2 Users
          p.mb-md-0 Invite members into your organization.
    br
    .d-flex.justify-content-between.flex-wrap
      .d-flex.align-items-end.flex-wrap
        .d-flex
          i.mdi.mdi-home.text-muted.hover-cursor
          p.text-muted.mb-0.hover-cursor &nbsp;/&nbsp;Dashboard&nbsp;/&nbsp;
          p.text-primary.mb-0.hover-cursor Users

.row
  .col-md-12.stretch-card
    .card
      .card-body
        a.btn.btn-primary href="#{new_users_profile_path}"
          i.mdi.mdi-plus
          | &nbsp; Invite Member
        .table-responsive
          table#recent-purchases-listing.table
            thead
              tr
                th First Name
                th Last Name
                th Email
                th Role
                th Branch
                th
            tbody
              - @users.each do |user|
                tr
                  td = user.first_name
                  td = user.last_name
                  td = user.email
                  td
                    = link_to  "Set Role", roles_users_profile_path(user)
                    pre
                      = user.roles.map(&:name).join("\n")
                  td Main branch
                  td width="15%"
                    = link_to('<i class="mdi mdi-pencil btn-icon-prepend"></i> Edit'.html_safe, edit_users_profile_path(user))
                    ' &nbsp; &nbsp;
                    = link_to('<i class="mdi mdi-delete btn-icon-prepend"></i> Delete'.html_safe, users_profile_path(user), method: 'DELETE', data: {confirm: 'Do you want to delete?'})
