.row
  .col-md-12.grid-margin
    .d-flex.justify-content-between.flex-wrap
      .d-flex.align-items-end.flex-wrap
        .mr-md-3.mr-xl-5
          h2 Roles
          p.mb-md-0 Set user role
    br
    .d-flex.justify-content-between.flex-wrap
      .d-flex.align-items-end.flex-wrap
        .d-flex
          i.mdi.mdi-home.text-muted.hover-cursor
          p.text-muted.mb-0.hover-cursor &nbsp;/&nbsp;Dashboard&nbsp;/&nbsp;
          p.text-muted.mb-0.hover-cursor Users / &nbsp; 
          p.text-muted.mb-0.hover-cursor Roles / &nbsp;
          p.text-primary.mb-0.hover-cursor Edit

.row
  .col-md-12.stretch-card
    .card
      .card-body
        = simple_form_for(@user, as: :user, method: :patch, url: users_profile_path(@user)) do |f|
          .row
            .col-md-4.form-group
              = f.select(:role_ids, Role.all.collect{|role| [role.name, role.id]}, {}, { :multiple => true, :size => 5, class: 'form-control'})
          .row
            .col-md-4
              = f.button :submit, 'Update Role', class: 'form-control btn-success'
