= simple_form_for(@property, defaults: { wrapper: false }, as: :property, method: action, url: url, html: { multipart: true }) do |f|
  p PROPERTY IMAGES
  .form-group.no-margin-bottom
    = f.file_field :images, multiple: true, class: 'form-control', required: true
  .progress-wrapper
    .progress
      .progress-bar role="progressbar" 0%
  br
  br
  .form-group
    = f.input :code, label: "Code (Autogenerated)", input_html: {class: 'form-control', readonly: true}
  .row
    .form-group.col-md-6
      = f.input :offer_type, label: "Offer type", collection: Property::OFFER_TYPE, required: true, input_html: {class: 'form-control'}
    .form-group.col-md-6
      = f.input :category, label: "Category", collection: Property::CATEGORY, input_html: {class: 'form-control'}, required: true
  .row
    .form-group.col-md-6
      = f.input :build_type, label: "Type of Building", collection: Property::BUILDING_TYPE.sort, input_html: {class: 'form-control'}, required: true
    .form-group.col-md-6
      = f.input :name, label: "Property Name", input_html: {class: 'form-control', list: 'names'}
      datalist#names
        - Property::PROPERTY_NAME.sort.each do |property_name|
          option value='#{property_name}'
  .row
    .form-group.col-md-2
      = f.input :currency, label: "Currency", collection: Property::CURRENCIES, input_html: {class: 'form-control'}
    .form-group.col-md-10
      = f.input :price, label: "Price", input_html: {class: 'form-control'}, required: true
  .form-group
    = f.input :tenure, label: "Tenure", collection: Property::TENURE.sort, input_html: {class: 'form-control'}
  br
  p LOCATION DETAILS
  .row
    .form-group.col-md-4
      = f.input :location_latlng, label: "Location (GPS)", input_html: {class: 'form-control', readonly: true}
      button.btn.btn-primary.generate_gps type="button" Generate
    .form-group.col-md-4
      = f.input :location_city, label: "City", input_html: {class: 'form-control'}
    .form-group.col-md-4
      = f.input :location_state, label: "State / Region", input_html: {class: 'form-control'}
  .row
    .form-group.col-md-4
      = f.input :location_suburb, label: "Suburb", input_html: {class: 'form-control'}
    .form-group.col-md-4
      = f.input :location_road, label: "Road", input_html: {class: 'form-control'}
    .form-group.col-md-4
      = f.input :location_postcode, label: "Postcode", input_html: {class: 'form-control'}
  .form-group
    = f.input :location, as: :text, label: "Full Location (Autogenerated)", input_html: {class: 'form-control', placeholder: 'e.g. City, Country'}
  .form-group
    = f.input :landmark, as: :string, label: "Landmark", input_html: {class: 'form-control location'}
  br
  br
  p OTHER DETAILS
  .form-group.col-md-4
    = f.input :meter, label: "Type of Meter", collection: Property::METER.sort, input_html: {class: 'form-control', placeholder: 'e.g. City, Country'}
  .row
    .form-group.col-md-4
      = f.input :no_of_tenant, label: "Number of Tenants on property", input_html: {class: 'form-control'}
    .form-group.col-md-4
      = f.input :bedrooms, label: "Number of Bedrooms", input_html: {class: 'form-control'}
    .form-group.col-md-4
      = f.input :bathrooms, label: "Number of Bathrooms", input_html: {class: 'form-control'}
  .row
    .form-group.col-md-8
      = f.input :size, label: "Size", input_html: {class: 'form-control'}
    .form-group.col-md-4
      = f.input :size_unit, label: "Unit", collection: Property::SIZE_UNIT, input_html: {class: 'form-control'}
  .form-group
    = f.input :features, label: "Property features", as: :check_boxes, collection: Property::FEATURES.sort
  .form-group
    = f.input :water_source, label: "Water source", collection: Property::WATER_SOURCE.sort, as: :check_boxes
  .form-group
    = f.input :utilities, as: :check_boxes, label: "Utilities", collection: Property::UTILITIES.sort
  .form-group
    = f.input :other_info, as: :text, label: "Other information", input_html: {class: 'form-control', rows: 5}

  br
  br
  p OWNER'S INFORMATION
  = f.simple_fields_for :owner do |o|
    .form-group
      = o.input :name, label: 'Full Name', input_html: {class: 'form-control'}
    .form-group
      = o.input :telephone, label: 'Telephone', input_html: {class: 'form-control'}
    .form-group
      = o.input :location, as: :string, label: 'Location', input_html: {class: 'form-control location'}
  .form-group
    = f.input :has_caretaker, label: 'Property owner is different from the caretaker.', input_html: {class: 'toggler'}

  br
  #property_has_caretaker.toggle-div style="#{@property.has_caretaker ? 'display: visible' : 'display: none'}"
    p CARETAKER'S INFORMATION
    = f.simple_fields_for :caretaker do |o|
      .form-group
        = o.input :name, label: 'Full Name', input_html: {class: 'form-control'}
      .form-group
        = o.input :telephone, label: 'Telephone', input_html: {class: 'form-control'}
      .form-group
        = o.input :location, as: :string, label: 'Location', input_html: {class: 'form-control location'}
  .row
    .col-md-3
      = f.button :submit, 'SAVE PROPERTY', class: 'btn-success'
    .col-md-5
    .col-m-4
      - if current_page?(new_users_property_path)
        = f.button :submit, 'Temporarily Save Property', class: 'btn-warning'

/ javascript:
/   $(document).ready(function(){
/     var multiple_photos_form = $('#new_property');
/     multiple_photos_form.fileupload({
/       dataType: 'script',
/       add: function (e, data) {
/         types = /(\.|\/)(gif|jpe?g|png|bmp)$/i;
/         file = data.files[0];
/         if (types.test(file.type) || types.test(file.name)) {
/           data.submit();
/         }
/         else { alert(file.name + " must be GIF, JPEG, BMP or PNG file"); }
/       }
/     });

/     multiple_photos_form.on('fileuploadsubmit', function (e, data) {
/       data.formData = {'photo[author]': $('#photo_author').val()};
/     });

/     var wrapper = multiple_photos_form.find('.progress-wrapper');
/     var progress_bar = wrapper.find('.progress-bar');

/     multiple_photos_form.on('fileuploadstart', function() {
/       var progress = parseInt(0, 10);
/       wrapper.show();
/       progress_bar.css('width', progress + '%').text(progress + '%');
/     });

/     multiple_photos_form.on('fileuploaddone', function() {
/       wrapper.hide();
/       progress_bar.width(0); // Revert progress bar's width back to 0 for future uploads
/     });

/     multiple_photos_form.on('fileuploadprogressall', function (e, data) {
/       var progress = parseInt(data.loaded / data.total * 100, 10);
/       progress_bar.css('width', progress + '%').text(progress + '%');
/     });
/   })