<%= grid(@properties_grid, show_filters: false) do |g|
  g.column name: 'DATE/TIME', attribute: 'created_at' do |property|
    property.created_at.strftime("%a, %d %b %Y %H:%M:%S")
  end

  g.column name: 'CODE', attribute: 'code' do |property|
    property.code
  end

  g.column name: 'OFFER TYPE', attribute: 'offer_type', custom_filter: Property::OFFER_TYPE do |property|
    property.offer_type.titleize
  end

  g.column name: 'NAME', attribute: 'name', custom_filter: Property::PROPERTY_NAME do |property|
    property.name
  end

  g.column name: 'SUBURB', attribute: 'location_suburb', custom_filter: :auto do |property|
    property.location_suburb
  end

  g.column name: 'CURRENCY', attribute: 'currency', custom_filter: Property::CURRENCIES do |property|
    property.currency
  end

  g.column name: 'PRICE', attribute: 'price' do |property|
    property.price
  end

  g.column name: 'TENURE', attribute: 'tenure', custom_filter: Property::TENURE do |property|
    property.tenure
  end

  g.column name: 'STATE', attribute: 'state', custom_filter: :auto do |property|
    property.state.titleize
  end

  if can?("view", "properties")
    g.column do |property|
      link_to('View', users_property_path(property))
    end
  end

  if can?("edit", "properties")
    g.column do |property|
      link_to('Edit', edit_users_property_path(property))
    end
  end

  if can?("delete", "properties")
    g.column do |property|
      link_to('Delete', users_property_path(property), method: 'DELETE', data: {confirm: 'Do you want to delete?'})
    end
  end
end -%>
