.row
  .col-md-12.grid-margin
    .d-flex.justify-content-between.flex-wrap
      .d-flex.align-items-end.flex-wrap
        .mr-md-3.mr-xl-5
          h2 Properties
          p.mb-md-0 Your list of properties.
        .d-flex
          i.mdi.mdi-home.text-muted.hover-cursor
          p.text-muted.mb-0.hover-cursor &nbsp;/&nbsp;Dashboard&nbsp;/&nbsp;
          p.text-primary.mb-0.hover-cursor Properties
.row
  .col-md-12.stretch-card


.row
  .col-md-12
    = render partial: "users/properties/partials/filters"
    br/

    .card
      .card-body
        .row
          .col-md-2
            a.btn.btn-success href="#{new_users_property_path}"
              i.mdi.mdi-plus
              | New Property
          .col-md-6
          .col-md-4
        br
        .row
          .col-md-12
            = render partial: "property_grid", locals: {properties: @properties_grid}

