.row
  .col-md-12.grid-margin
    .d-flex.justify-content-between.flex-wrap
      .d-flex.align-items-end.flex-wrap
        .mr-md-3.mr-xl-5
          h2 Properties
          p.mb-md-0 Add a new property.
        .d-flex
          i.mdi.mdi-home.text-muted.hover-cursor
          p.text-muted.mb-0.hover-cursor &nbsp;/&nbsp;Dashboard&nbsp;/&nbsp;
          p.text-muted.mb-0.hover-cursor &nbsp;Properties&nbsp;/&nbsp;
          p.text-primary.mb-0.hover-cursor New

.col-md-8.grid-margin.stretch-card
  .card
    .card-body
      h4.card-title Add New Property
      = render partial: "form", locals: {action: :post, url: users_properties_path}
