.row
  .col-md-12.grid-margin
    .d-flex.justify-content-between.flex-wrap
      .d-flex.align-items-end.flex-wrap
        .mr-md-3.mr-xl-5
          h2 New Rent
          p.mb-md-0 Enter details to rent out property.
        .d-flex
          i.mdi.mdi-home.text-muted.hover-cursor
          p.text-muted.mb-0.hover-cursor &nbsp;/&nbsp;Dashboard&nbsp;/&nbsp;
          p.text-muted.mb-0.hover-cursor &nbsp;Properties&nbsp;/&nbsp;
          p.text-primary.mb-0.hover-cursor New Rent

a.btn.btn-danger href="#{users_property_path(@property)}" < Back
br
br
.col-8.grid-margin.stretch-card
  .card
    .card-body
      h4.card-title Rent out Property
      = simple_form_for(@payment, as: :payment, method: :post, url: payment_users_property_path(@property), html: { multipart: true }) do |f|
        .row
          .form-group.col-md-3
            = f.input :currency, label: "Currency", collection: Property::CURRENCIES, input_html: {class: 'form-control'}
          .form-group.col-md-9
            = f.input :amount, label: "Amount", input_html: {class: 'form-control'}
        .row
          .form-group.col-md-6
            = f.association :customer, label: "Customer", input_html: {class: 'form-control'}
          .form-group.col-md-6
            = f.association :seller, label: "Sold by", input_html: {class: 'form-control'}
        .form-group
          = f.input :date_sold, label: "Date sold"
        .row
          .form-group.col-md-6
            = f.input :rent_from, label: "Rent From"
          .form-group.col-md-6
            = f.input :rent_to, label: "Rent To"
        .form-group
          = f.input :other_details, label: "Other information", input_html: {class: 'form-control'}
          = f.input :transaction_type, as: :hidden
        .form-group
          = f.button :submit, "SAVE PAYMENT", class: 'btn btn-success'
        