.row
  .col-md-12.grid-margin
    .d-flex.justify-content-between.flex-wrap
      .d-flex.align-items-end.flex-wrap
        .mr-md-3.mr-xl-5
          h2 Properties
          p.mb-md-0 Details of the property
        .d-flex
          i.mdi.mdi-home.text-muted.hover-cursor
          p.text-muted.mb-0.hover-cursor &nbsp;/&nbsp;Dashboard&nbsp;/&nbsp;
          p.text-muted.mb-0.hover-cursor &nbsp;Properties&nbsp;/&nbsp;
          p.text-primary.mb-0.hover-cursor Show


.row
  .col-md-8
    br
    br
    a.btn.btn-danger href="#{users_properties_path}" < Back
  .col-md-4
    p EXPORT
    button.btn.btn-primary
      i.mdi.mdi-file-pdf
    | &nbsp; &nbsp; 
    button.btn.btn-primary
      i.mdi.mdi-file-excel
br

ul.nav.nav-pills
  li
    a.active data-toggle="tab" href="#home" PROPERTY
  li
    a data-toggle="tab" href="#owner" OWNER
  li
    a data-toggle="tab" href="#caretaker" CARETAKER
  - if can?("access","payments")
    li
      a data-toggle="tab" href="#history" PAYMENTS

.tab-content
  #home.tab-pane.active
    = render partial: "users/properties/partials/details"
  #owner.tab-pane
    = render partial: "users/properties/partials/owner"
  #caretaker.tab-pane
    = render partial: "users/properties/partials/caretaker"
  - if can?("access","payments")
    #history.tab-pane
      = render partial: "users/properties/partials/payments"
