nav.navbar.col-lg-12.col-12.p-0.fixed-top.d-flex.flex-row
  .navbar-brand-wrapper.d-flex.justify-content-center
    .navbar-brand-inner-wrapper.d-flex.justify-content-between.align-items-center.w-100
      a.navbar-brand.brand-logo href="#{root_url}" 
        = image_tag("logo/logo.png") 
      a.navbar-brand.brand-logo-mini href="#{root_url}" 
        = image_tag("logo/logo-mini.png")
      button.navbar-toggler.navbar-toggler.align-self-center data-toggle="minimize" type="button" 
        span.mdi.mdi-sort-variant
  .navbar-menu-wrapper.d-flex.align-items-center.justify-content-end
    ul.navbar-nav.mr-lg-4.w-100
      li.nav-item.nav-search.d-none.d-lg-block.w-100
        .input-group
          .input-group-prepend
            span#search.input-group-text
              i.mdi.mdi-magnify
          input.form-control aria-describedby="search" aria-label="search" placeholder=("Search now") type="text" /
    ul.navbar-nav.navbar-nav-right
      li.nav-item.dropdown.mr-1
        a#messageDropdown.nav-link.count-indicator.dropdown-toggle.d-flex.justify-content-center.align-items-center data-toggle="dropdown" href="#" 
          i.mdi.mdi-message-text.mx-0
          span.count
        .dropdown-menu.dropdown-menu-right.navbar-dropdown aria-labelledby="messageDropdown" 
          p.mb-0.font-weight-normal.float-left.dropdown-header Messages
      li.nav-item.dropdown.mr-4
        a#notificationDropdown.nav-link.count-indicator.dropdown-toggle.d-flex.align-items-center.justify-content-center.notification-dropdown data-toggle="dropdown" href="#" 
          i.mdi.mdi-bell.mx-0
          span.count
        .dropdown-menu.dropdown-menu-right.navbar-dropdown aria-labelledby="notificationDropdown" 
          p.mb-0.font-weight-normal.float-left.dropdown-header Notifications
      li.nav-item.nav-profile.dropdown
        a#profileDropdown.nav-link.dropdown-toggle data-toggle="dropdown" href="#" 
          span.nav-profile-name = current_user.name
        .dropdown-menu.dropdown-menu-right.navbar-dropdown aria-labelledby="profileDropdown" 
          a.dropdown-item
            i.mdi.mdi-settings.text-primary
            | Settings
          a.dropdown-item rel="nofollow" data-method="delete" href="/sign_out"
            i.mdi.mdi-logout.text-primary
            | Logout
    button.navbar-toggler.navbar-toggler-right.d-lg-none.align-self-center data-toggle="offcanvas" type="button" 
      span.mdi.mdi-menu
