  /! partial:partials/_sidebar.html
  nav#sidebar.sidebar.sidebar-offcanvas
    ul.nav
      li.nav-item
        a.nav-link href="#{users_path}"
          i.mdi.mdi-airballoon.menu-icon
          span.menu-title Home
      - if can?("access", "properties")
        li.nav-item
          a.nav-link.collapsed aria-controls="properties" aria-expanded="false" data-toggle="collapse" href="#properties" 
            i.mdi.mdi-home-variant.menu-icon
            span.menu-title Properties
            i.menu-arrow
          #properties.collapse style="" 
            ul.nav.flex-column.sub-menu
              - if can?("view", "properties")
                li.nav-item
                  a.nav-link href="#{users_properties_path}" List of Properties
              - if can?("create", "properties")
                li.nav-item
                  a.nav-link href="#{new_users_property_path}" New Property
      - if can?("access", "lands")
        li.nav-item
          a.nav-link.collapsed aria-controls="land" aria-expanded="false" data-toggle="collapse" href="#land" 
            i.mdi.mdi-compass-outline.menu-icon
            span.menu-title Lands
            i.menu-arrow
          #land.collapse style="" 
            ul.nav.flex-column.sub-menu
              - if can?("view", "lands")
                li.nav-item
                  a.nav-link href="#{users_lands_path}" List of Lands
              - if can?("create", "lands")
                li.nav-item
                  a.nav-link href="#{new_users_land_path}" New Land
      - if can?("access", "customers")
        li.nav-item
          a.nav-link href="#{users_customers_path}" 
            i.mdi.mdi-account-multiple.menu-icon
            span.menu-title Customers
      - if can?("access", "call_logs")
        li.nav-item
          a.nav-link.collapsed aria-controls="calllog" aria-expanded="false" data-toggle="collapse" href="#calllog" 
            i.mdi.mdi-home-variant.menu-icon
            span.menu-title Call Logs
            i.menu-arrow
          #calllog.collapse style="" 
            ul.nav.flex-column.sub-menu
              - if can?("view", "call_logs")
                li.nav-item
                  a.nav-link href="#{users_call_logs_path}" All Call Logs
              - if can?("create", "call_logs")
                li.nav-item
                  a.nav-link href="#{new_users_call_log_path}" New Log
              - if can?("view", "appointments")
                li.nav-item
                  a.nav-link href="#{users_appointments_path}" Appointments
      - if can?("access", "settings")
        li.nav-item
          a.nav-link.collapsed aria-controls="settings" aria-expanded="false" data-toggle="collapse" href="#settings" 
            i.mdi.mdi-settings.menu-icon
            span.menu-title Settings
            i.menu-arrow
          #settings.collapse style="" 
            ul.nav.flex-column.sub-menu
              - if can?("access", "branches")
                li.nav-item
                  a.nav-link href="#{users_branches_path}" Branches
              - if can?("access", "roles")
                li.nav-item
                  a.nav-link href="#{users_roles_path}" Roles Management
              - if can?("access", "users")
                li.nav-item
                  a.nav-link href="#{users_profiles_path}" User Management
              - if can?("access", "workspace")
                li.nav-item
                  a.nav-link href="#{users_settings_path}" Workspace Settings
              - if can?("access", "billing")
                li.nav-item
                  a.nav-link href="#{users_settings_path}" Billing
      li.nav-item
        a.nav-link href="#{users_help_index_path}" 
          i.mdi.mdi-help.menu-icon
          span.menu-title Help / Support
