.content-wrapper.d-flex.align-items-stretch.auth.auth-img-bg
  .row.flex-grow
    .col-lg-6.d-flex.align-items-center.justify-content-center
      .auth-form-transparent.text-left.p-3
        .brand-logo
          a href="#{root_url}"
            = image_tag("logo/logo.png")
        h4 Welcome to #{current_account.name}!
        = render 'components/messages'
        = form_for(resource, as: resource_name, url: session_path(resource_name), class: 'pt-3') do |f| 
          .form-group
            label for="exampleInputEmail"  Username
            .input-group
              .input-group-prepend.bg-transparent
                span.input-group-text.bg-transparent.border-right-0
                  i.mdi.mdi-account-outline.text-primary
              = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control form-control-lg border-left-0', placeholder: "Username"
          .form-group
            label for="exampleInputPassword"  Password
            .input-group
              .input-group-prepend.bg-transparent
                span.input-group-text.bg-transparent.border-right-0
                  i.mdi.mdi-lock-outline.text-primary
              = f.password_field :password, autocomplete: "current-password", class: 'form-control form-control-lg border-left-0', placeholder: "Password"
          .my-2.d-flex.justify-content-between.align-items-center
            .form-check
              label.form-check-label.text-muted
                = f.check_box :remember_me, class: 'form-check-input'
                | Keep me signed in
          .form-group
            = render "users/shared/links"
          .my-3
            = f.submit "LOGIN", class: 'btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn'
          .mb-2.d-flex
            button.btn.btn-facebook.auth-form-btn.flex-grow.mr-1 type="button" 
              i.mdi.mdi-facebook.mr-2
              | Facebook
            button.btn.btn-google.auth-form-btn.flex-grow.ml-1 type="button" 
              i.mdi.mdi-google.mr-2
              | Google
    .col-lg-6.login-half-bg.d-flex.flex-row
      p.text-white.font-weight-medium.text-center.flex-grow.align-self-end Copyright &copy; 2018  All rights reserved.
