<br>
<%= grid(@call_logs_grid, show_filters: false) do |g|
  g.column name: 'DATE/TIME', attribute: 'created_at' do |clog|
    clog.created_at.strftime("%a, %d %b %Y %H:%M:%S")
  end

  g.column name: 'CUSTOMER NAME', attribute: 'first_name', assoc: :customer do |clog|
    "#{clog.customer.first_name} #{clog.customer.last_name}"
  end

  g.column name: 'CUSTOMER TELEPHONE', attribute: 'telephone', assoc: :customer do |clog|
    clog.customer.telephone
  end

  g.column name: 'BUDGET CURRENCY', attribute: 'budget_currency', custom_filter: :auto do |clog|
    clog.budget_currency
  end

  g.column name: 'BUDGET AMOUNT', attribute: 'budget_amount' do |clog|
    clog.budget_amount
  end

  g.column name: 'PROPERTY NAME', attribute: 'property_names', custom_filter: :auto do |clog|
    pretty_str(clog.property_names)
  end

  g.column name: 'LOCATION', attribute: 'property_locations' do |clog|
    pretty_str(clog.property_locations)
  end

  g.column name: 'STATUS', attribute: 'status', custom_filter: :auto do |clog|
    clog.status
  end

  g.column name: 'CREATED BY', attribute: 'status', custom_filter: :auto do |clog|
    clog.user.name
  end

  g.column do |clog|
    link_to('View', users_call_log_path(clog))
  end

  g.column do |clog|
    link_to('Edit', edit_users_call_log_path(clog))
  end

  g.column do |clog|
    link_to('Delete', users_call_log_path(clog), method: 'DELETE', data: {confirm: 'Do you want to delete?'})
  end
end -%>
