= simple_form_for(@call_log, defaults: { wrapper: false }, as: :call_log, method: action, url: url) do |f|
  .row
    = f.simple_fields_for :customer do |o|
      .col-md-12
        p CUSTOMER DETAILS
        .row
          .form-group.col-md-3
            = o.input :telephone, label: "Telephone", input_html: {class: 'form-control'}
          .form-group.col-md-3
            = o.input :first_name, label: "First name", input_html: {class: 'form-control'}
          .form-group.col-md-3
            = o.input :last_name, label: "Last name", input_html: {class: 'form-control'}
    .col-md-12
      p BUDGET
      .row
        .form-group.col-md-1
          = f.input :budget_currency, label: "Currency", collection: Property::CURRENCIES, input_html: {class: 'form-control'}
        .form-group.col-md-3
          = f.input :budget_amount, label: "Amount", input_html: {class: 'form-control'}
    .col-md-12
      p PROPERTY
      .row id="data-vue"
        .form-group.col-md-3
          = render partial: "components/multiselect", locals: {label: "Name", name: "call_log[property_names]", options: Property::PROPERTY_NAME.sort, selected_values: @call_log.property_names&.split(",")}
        .form-group.col-md-6
          = render partial: "components/multiselect", locals: {label: "Location", name: "call_log[property_locations]", options: Property.all.pluck(:location_suburb).uniq.sort, selected_values: @call_log.property_locations.split(",")}
    .col-md-3
      .form-group.col-md-12
        = f.input :status, label: "Status", collection: Comment::STATES, input_html: {class: 'form-control'}
  .row
    .col-md-4
      = f.button :submit, class: 'form-control btn-success'
