.row
  .col-md-12.grid-margin
    .d-flex.justify-content-between.flex-wrap
      .d-flex.align-items-end.flex-wrap
        .mr-md-3.mr-xl-5
          h2 Call Logs
          p.mb-md-0 List of call logs.
        .d-flex
          i.mdi.mdi-home.text-muted.hover-cursor
          p.text-muted.mb-0.hover-cursor &nbsp;/&nbsp;Dashboard&nbsp;/&nbsp;
          p.text-primary.mb-0.hover-cursor Call Logs

.row
  .col-md-12
    = render partial: "users/call_logs/partials/filter"
    br/
    .card
      .card-body
        .row
          .col-md-8
            a.btn.btn-primary href="#{new_users_call_log_path}"
              i.mdi.mdi-plus
              | &nbsp; New Call
          .col-md-4
            / = search_form_for @q, url: users_call_logs_path do |f|
            /   = f.search_field :code_or_category_or_location_or_name_or_state_or_offer_type_cont, class: 'form-control', placeholder: 'Search Customer'
        .row
          .col-md-12
            = render partial: "call_log_grid", locals: {call_logs: @call_logs_grid}
