.row
  .col-md-12.grid-margin
    .d-flex.justify-content-between.flex-wrap
      .d-flex.align-items-end.flex-wrap
        .mr-md-3.mr-xl-5
          h2 Call Log
          p.mb-md-0 Details of the call log
        .d-flex
          i.mdi.mdi-home.text-muted.hover-cursor
          p.text-muted.mb-0.hover-cursor &nbsp;/&nbsp;Dashboard&nbsp;/&nbsp;
          p.text-muted.mb-0.hover-cursor &nbsp;Call Log&nbsp;/&nbsp;
          p.text-primary.mb-0.hover-cursor Show

.row
  .col-md-8
    br
    br
    a.btn.btn-danger href="#{users_call_logs_path}" < Back
br

ul.nav.nav-pills
  li
    a.active data-toggle="tab" href="#details" DETAILS
  
.tab-content
  #details.tab-pane.active
    = render partial: "users/call_logs/partials/details"