<%= grid(@appointments_grid, show_filters: :always) do |g|
  g.column name: 'ID', attribute: 'id' do |appointment|
    appointment.id
  end

  g.column name: 'DATE/TIME', attribute: 'created_at' do |appointment|
    appointment.created_at.strftime("%a, %d %b %Y %H:%M")
  end

  g.column name: 'CUSTOMER', attribute: 'first_name', assoc: :customer do |appointment|
    appointment.customer.name
  end

  g.column name: 'TELEPHONE', attribute: 'telephone', assoc: :customer do |appointment|
    appointment.customer.telephone
  end

  g.column name: 'PROPERTY NAME', attribute: 'property_names', assoc: :call_log do |appointment|
    pretty_str(appointment.call_log.property_names)
  end

  g.column name: 'APPOINTMENT DATE', attribute: 'scheduled_date' do |appointment|
    appointment.scheduled_date.strftime("%a, %d %b %Y")
  end

  g.column name: 'APPOINTMENT TIME', attribute: 'scheduled_time' do |appointment|
    appointment.scheduled_time.strftime("%H:%M")
  end

  g.column name: 'STATUS', attribute: 'state', custom_filter: :auto do |appointment|
    appointment.state.humanize
  end

  g.column name: 'CREATED BY' do |appointment|
    appointment.user.name
  end

  if can?("edit", "appointments")
    g.column do |appointment|
      link_to('Edit', edit_users_appointment_path(id: appointment, cid: appointment.call_log.id))
    end
  end

  if can?("delete", "appointments")
    g.column do |appointment|
      link_to('Delete', users_appointment_path(id: appointment.id, cid: appointment.call_log.id), method: 'DELETE', data: {confirm: 'Do you want to delete?'})
    end
  end
end -%>