= simple_form_for(@appointment, defaults: { wrapper: false }, as: :appointment, method: action, url: url) do |f|
  .row
    .form-group.col-md-4
      label Appointment Date
      br
      = f.input :scheduled_date, label: false
    .form-group.col-md-1
    .form-group.col-md-4
      label Appointment Time
      br
      = f.input :scheduled_time, label: false
    .form-group.col-md-4
      label Status
      br
      = f.input :state, collection: Appointment::STATES, input_html: {class: 'form-control'}, required: true, label: false
  .row
    .col-md-3
      = f.button :submit, class: 'form-control btn-success'
