.col-md-6.grid-margin.stretch-card
  .card
    .card-body
      h4.card-title Edit Appointment
      = render partial: "form", locals: {action: :put, url: users_appointment_path(id: @appointment.id, cid: params[:cid])}
