.row
  .col-md-12.grid-margin
    .d-flex.justify-content-between.flex-wrap
      .d-flex.align-items-end.flex-wrap
        .mr-md-3.mr-xl-5
          h2 Appointments
          p.mb-md-0 List of appointments
        .d-flex
          i.mdi.mdi-home.text-muted.hover-cursor
          p.text-muted.mb-0.hover-cursor &nbsp;/&nbsp;Dashboard&nbsp;/&nbsp;
          p.text-primary.mb-0.hover-cursor Appointments

.row
  .col-md-12.stretch-card
    .card
      .card-body
        .row
          .col-md-12
        br
        .row
          .col-md-12
            = render partial: "appointment_grid"

