= simple_form_for(@branch, as: :branch, method: action, url: url) do |f|
  .row
    .col-md-12.form-group
      = f.input :name, label: "Branch Name", input_html: {class: 'form-control', placeholder: 'e.g. Branch name'}
    .col-md-12.form-group
      = f.input :code, label: "Code", input_html: {class: 'form-control', placeholder: 'e.g. B001'}
    .col-md-12.form-group
      = f.input :telephone, label: "Telephone", input_html: {class: 'form-control', placeholder: 'e.g. +233123456789'}
    .col-md-12.form-group
      = f.input :location, as: :text, label: "Location", input_html: {class: 'form-control', placeholder: 'e.g. City, Country', rows: 5}
  .row
    .col-md-12
      = f.button :submit, class: 'form-control btn-success'