.row
  .col-md-12.grid-margin
    .d-flex.justify-content-between.flex-wrap
      .d-flex.align-items-end.flex-wrap
        .mr-md-3.mr-xl-5
          h2 Branches
          p.mb-md-0 Edit a branch
    br
    .d-flex.justify-content-between.flex-wrap
      .d-flex.align-items-end.flex-wrap
        .d-flex
          i.mdi.mdi-home.text-muted.hover-cursor
          p.text-muted.mb-0.hover-cursor &nbsp;/&nbsp;Dashboard&nbsp;/&nbsp;
          p.text-muted.mb-0.hover-cursor Branches / &nbsp; 
          p.text-primary.mb-0.hover-cursor Edit

.row
  .col-md-4.stretch-card
    .card
      .card-body
        = render partial: "form", locals: {action: :put, url: users_branch_path(@branch)}