.row
  .col-md-12.grid-margin
    .d-flex.justify-content-between.flex-wrap
      .d-flex.align-items-end.flex-wrap
        .mr-md-3.mr-xl-5
          h2 Branches
          p.mb-md-0 Organize your community into various branches. 
    br
    .d-flex.justify-content-between.flex-wrap
      .d-flex.align-items-end.flex-wrap
        .d-flex
          i.mdi.mdi-home.text-muted.hover-cursor
          p.text-muted.mb-0.hover-cursor &nbsp;/&nbsp;Dashboard&nbsp;/&nbsp;
          p.text-primary.mb-0.hover-cursor Branches

.row
  .col-md-12.stretch-card
    .card
      .card-body
        a.btn.btn-primary href="#{new_users_branch_path}"
          i.mdi.mdi-plus
          | &nbsp; Create Branch
        .table-responsive
          table#recent-purchases-listing.table
            thead
              tr
                th #
                th Name
                th Code
                th Telephone
                th Location
                th
                th
            tbody
              - @branches.each do |branch|
                tr
                  td = branch.id
                  td = branch.name
                  td = branch.code
                  td = branch.telephone
                  td 
                    pre = branch.location
                  td width="5%"
                    a href='#{edit_users_branch_path(branch)}'
                      i.mdi.mdi-pencil.btn-icon-prepend
                      | Edit
                  td width="5%"
                    a href='#{users_branch_path(branch)}' data-method="delete" rel="nofollow"
                      i.mdi.mdi-delete.btn-icon-prepend
                      | Delete