/! Wrapper
#wrapper.divided
  /! One
  section.banner.style1.orient-left.content-align-left.image-position-right.fullscreen.onload-image-fade-in.onload-content-fade-right
    .content
      h1 Grapeio
      p.major
        | A (modular, highly tweakable) responsive administartion dashboard for data collection and analytics.
        |  This platform allows teams to gather required information and perform right analytics on it.
      ul.actions.stacked
        - if user_signed_in?
          li
            a.button.big.wide.smooth-scroll-middle href="#{accounts_path}" Your Workspace
        - else
          li
            a.button.big.wide.smooth-scroll-middle href="#{accounts_path}" Create Account
    .image
      img alt="" src="images/banner.jpg" /
  /! Two
  section#first.spotlight.style1.orient-right.content-align-left.image-position-center.onscroll-image-fade-in
    .content
      h2 Magna etiam feugiat
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id ante sed ex pharetra lacinia sit amet vel massa. Donec facilisis laoreet nulla eu bibendum. Donec ut ex risus. Fusce lorem lectus, pharetra pretium massa et, hendrerit vestibulum odio lorem ipsum dolor sit amet.
      ul.actions.stacked
        li
          a.button href="#"  Learn More
    .image
      img alt="" src="images/spotlight01.jpg" /
  /! Three
  section.spotlight.style1.orient-left.content-align-left.image-position-center.onscroll-image-fade-in
    .content
      h2 Tempus adipiscing
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id ante sed ex pharetra lacinia sit amet vel massa. Donec facilisis laoreet nulla eu bibendum. Donec ut ex risus. Fusce lorem lectus, pharetra pretium massa et, hendrerit vestibulum odio lorem ipsum dolor sit amet.
      ul.actions.stacked
        li
          a.button href="#"  Learn More
    .image
      img alt="" src="images/spotlight02.jpg" /
  /! Four
  section.spotlight.style1.orient-right.content-align-left.image-position-center.onscroll-image-fade-in
    .content
      h2 Pharetra etiam nulla
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id ante sed ex pharetra lacinia sit amet vel massa. Donec facilisis laoreet nulla eu bibendum. Donec ut ex risus. Fusce lorem lectus, pharetra pretium massa et, hendrerit vestibulum odio lorem ipsum dolor sit amet.
      ul.actions.stacked
        li
          a.button href="#"  Learn More
    .image
      img alt="" src="images/spotlight03.jpg" /
  /! Five
  section.wrapper.style1.align-center
    .inner
      h2 Massa sed condimentum
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id ante sed ex pharetra lacinia sit amet vel massa. Donec facilisis laoreet nulla eu bibendum. Donec ut ex risus. Fusce lorem lectus, pharetra pretium massa et, hendrerit vestibulum odio lorem ipsum.
    /! Gallery
    .gallery.style2.medium.lightbox.onscroll-fade-in
      article
        a.image href="images/gallery/fulls/01.jpg" 
          img alt="" src="images/gallery/thumbs/01.jpg" /
        .caption
          h3 Ipsum Dolor
          p Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
          ul.actions.fixed
            li
              span.button.small Details
      article
        a.image href="images/gallery/fulls/02.jpg" 
          img alt="" src="images/gallery/thumbs/02.jpg" /
        .caption
          h3 Feugiat Lorem
          p Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
          ul.actions.fixed
            li
              span.button.small Details
      article
        a.image href="images/gallery/fulls/03.jpg" 
          img alt="" src="images/gallery/thumbs/03.jpg" /
        .caption
          h3 Magna Amet
          p Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
          ul.actions.fixed
            li
              span.button.small Details
      article
        a.image href="images/gallery/fulls/04.jpg" 
          img alt="" src="images/gallery/thumbs/04.jpg" /
        .caption
          h3 Sed Tempus
          p Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
          ul.actions.fixed
            li
              span.button.small Details
      article
        a.image href="images/gallery/fulls/05.jpg" 
          img alt="" src="images/gallery/thumbs/05.jpg" /
        .caption
          h3 Ultrices Magna
          p Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
          ul.actions.fixed
            li
              span.button.small Details
      article
        a.image href="images/gallery/fulls/06.jpg" 
          img alt="" src="images/gallery/thumbs/06.jpg" /
        .caption
          h3 Sed Tempus
          p Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
          ul.actions.fixed
            li
              span.button.small Details
      article
        a.image href="images/gallery/fulls/07.jpg" 
          img alt="" src="images/gallery/thumbs/07.jpg" /
        .caption
          h3 Ipsum Lorem
          p Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
          ul.actions.fixed
            li
              span.button.small Details
      article
        a.image href="images/gallery/fulls/08.jpg" 
          img alt="" src="images/gallery/thumbs/08.jpg" /
        .caption
          h3 Magna Risus
          p Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
          ul.actions.fixed
            li
              span.button.small Details
      article
        a.image href="images/gallery/fulls/09.jpg" 
          img alt="" src="images/gallery/thumbs/09.jpg" /
        .caption
          h3 Tempus Dolor
          p Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
          ul.actions.fixed
            li
              span.button.small Details
      article
        a.image href="images/gallery/fulls/10.jpg" 
          img alt="" src="images/gallery/thumbs/10.jpg" /
        .caption
          h3 Sed Etiam
          p Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
          ul.actions.fixed
            li
              span.button.small Details
      article
        a.image href="images/gallery/fulls/11.jpg" 
          img alt="" src="images/gallery/thumbs/11.jpg" /
        .caption
          h3 Magna Lorem
          p Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
          ul.actions.fixed
            li
              span.button.small Details
      article
        a.image href="images/gallery/fulls/12.jpg" 
          img alt="" src="images/gallery/thumbs/12.jpg" /
        .caption
          h3 Ipsum Dolor
          p Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
          ul.actions.fixed
            li
              span.button.small Details
  /! Six
  section.wrapper.style1.align-center
    .inner
      h2 Ipsum sed consequat
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id ante sed ex pharetra lacinia sit amet vel massa. Donec facilisis laoreet nulla eu bibendum. Donec ut ex risus. Fusce lorem lectus, pharetra pretium massa et, hendrerit vestibulum odio lorem ipsum.
      .items.style1.medium.onscroll-fade-in
        section
          span.icon.style2.major.fa-gem
          h3 Lorem
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.
        section
          span.icon.solid.style2.major.fa-save
          h3 Ipsum
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.
        section
          span.icon.solid.style2.major.fa-chart-bar
          h3 Dolor
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.
        section
          span.icon.solid.style2.major.fa-wifi
          h3 Amet
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.
        section
          span.icon.solid.style2.major.fa-cog
          h3 Magna
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.
        section
          span.icon.style2.major.fa-paper-plane
          h3 Tempus
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.
        section
          span.icon.solid.style2.major.fa-desktop
          h3 Aliquam
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.
        section
          span.icon.solid.style2.major.fa-sync-alt
          h3 Elit
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.
        section
          span.icon.solid.style2.major.fa-hashtag
          h3 Morbi
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.
        section
          span.icon.solid.style2.major.fa-bolt
          h3 Turpis
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.
        section
          span.icon.solid.style2.major.fa-envelope
          h3 Ultrices
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.
        section
          span.icon.solid.style2.major.fa-leaf
          h3 Risus
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.
  /! Seven
  section.wrapper.style1.align-center
    .inner.medium
      h2 Get in touch
      form action="#" method="post" 
        .fields
          .field.half
            label for="name"  Name
            input#name name="name" type="text" value="" /
          .field.half
            label for="email"  Email
            input#email name="email" type="email" value="" /
          .field
            label for="message"  Message
            textarea#message name="message" rows="6" 
        ul.actions.special
          li
            input#submit name="submit" type="submit" value=("Send Message") /
  /! Footer
  footer.wrapper.style1.align-center
    .inner
      ul.icons
        li
          a.icon.brands.style2.fa-twitter href="#" 
            span.label Twitter
        li
          a.icon.brands.style2.fa-facebook-f href="#" 
            span.label Facebook
        li
          a.icon.brands.style2.fa-instagram href="#" 
            span.label Instagram
        li
          a.icon.brands.style2.fa-linkedin-in href="#" 
            span.label LinkedIn
        li
          a.icon.style2.fa-envelope href="#" 
            span.label Email

