.row
  .col-md-12.grid-margin
    .d-flex.justify-content-between.flex-wrap
      .d-flex.align-items-end.flex-wrap
        .mr-md-3.mr-xl-5
          h2 Welcome back,
          p.mb-md-0 Your analytics dashboard template.
        .d-flex
          i.mdi.mdi-home.text-muted.hover-cursor
          p.text-muted.mb-0.hover-cursor &nbsp;/&nbsp;Dashboard&nbsp;/&nbsp;
          p.text-primary.mb-0.hover-cursor Analytics
      .d-flex.justify-content-between.align-items-end.flex-wrap
        button.btn.btn-light.bg-white.btn-icon.mr-3.d-none.d-md-block type="button" 
          i.mdi.mdi-download.text-muted
        button.btn.btn-light.bg-white.btn-icon.mr-3.mt-2.mt-xl-0 type="button" 
          i.mdi.mdi-clock-outline.text-muted
        button.btn.btn-light.bg-white.btn-icon.mr-3.mt-2.mt-xl-0 type="button" 
          i.mdi.mdi-plus.text-muted
        button.btn.btn-primary.mt-2.mt-xl-0 Generate report

.row
  .col-md-12.grid-margin.stretch-card
    .card
      .card-body.dashboard-tabs.p-0
        ul.nav.nav-tabs.px-4 role="tablist" 
          li.nav-item
            a#overview-tab.nav-link.active aria-controls="overview" aria-selected="true" data-toggle="tab" href="#overview" role="tab"  Overview
          li.nav-item
            a#sales-tab.nav-link aria-controls="sales" aria-selected="false" data-toggle="tab" href="#sales" role="tab"  Sales
          li.nav-item
            a#purchases-tab.nav-link aria-controls="purchases" aria-selected="false" data-toggle="tab" href="#purchases" role="tab"  Purchases
        .tab-content.py-0.px-0
          #overview.tab-pane.fade.show.active aria-labelledby="overview-tab" role="tabpanel" 
            .d-flex.flex-wrap.justify-content-xl-between
              .d-none.d-xl-flex.border-md-right.flex-grow-1.align-items-center.justify-content-center.p-3.item
                i.mdi.mdi-calendar-heart.icon-lg.mr-3.text-primary
                .d-flex.flex-column.justify-content-around
                  small.mb-1.text-muted Start date
                  .dropdown
                    a#dropdownMenuLinkA.btn.btn-secondary.dropdown-toggle.p-0.bg-transparent.border-0.text-dark.shadow-none.font-weight-medium aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button" 
                    h5.mb-0.d-inline-block 26 Jul 2018
                    .dropdown-menu aria-labelledby="dropdownMenuLinkA" 
                      a.dropdown-item href="#"  12 Aug 2018
                      a.dropdown-item href="#"  22 Sep 2018
                      a.dropdown-item href="#"  21 Oct 2018
              .d-flex.border-md-right.flex-grow-1.align-items-center.justify-content-center.p-3.item
                i.mdi.mdi-currency-usd.mr-3.icon-lg.text-danger
                .d-flex.flex-column.justify-content-around
                  small.mb-1.text-muted Revenue
                  h5.mr-2.mb-0 $577545
              .d-flex.border-md-right.flex-grow-1.align-items-center.justify-content-center.p-3.item
                i.mdi.mdi-eye.mr-3.icon-lg.text-success
                .d-flex.flex-column.justify-content-around
                  small.mb-1.text-muted Total views
                  h5.mr-2.mb-0 9833550
              .d-flex.border-md-right.flex-grow-1.align-items-center.justify-content-center.p-3.item
                i.mdi.mdi-download.mr-3.icon-lg.text-warning
                .d-flex.flex-column.justify-content-around
                  small.mb-1.text-muted Downloads
                  h5.mr-2.mb-0 2233783
              .d-flex.py-3.border-md-right.flex-grow-1.align-items-center.justify-content-center.p-3.item
                i.mdi.mdi-flag.mr-3.icon-lg.text-danger
                .d-flex.flex-column.justify-content-around
                  small.mb-1.text-muted Flagged
                  h5.mr-2.mb-0 3497843
          #sales.tab-pane.fade aria-labelledby="sales-tab" role="tabpanel" 
            .d-flex.flex-wrap.justify-content-xl-between
              .d-none.d-xl-flex.border-md-right.flex-grow-1.align-items-center.justify-content-center.p-3.item
                i.mdi.mdi-calendar-heart.icon-lg.mr-3.text-primary
                .d-flex.flex-column.justify-content-around
                  small.mb-1.text-muted Start date
                  .dropdown
                    a#dropdownMenuLinkA.btn.btn-secondary.dropdown-toggle.p-0.bg-transparent.border-0.text-dark.shadow-none.font-weight-medium aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button" 
                    h5.mb-0.d-inline-block 26 Jul 2018
                    .dropdown-menu aria-labelledby="dropdownMenuLinkA" 
                      a.dropdown-item href="#"  12 Aug 2018
                      a.dropdown-item href="#"  22 Sep 2018
                      a.dropdown-item href="#"  21 Oct 2018
              .d-flex.border-md-right.flex-grow-1.align-items-center.justify-content-center.p-3.item
                i.mdi.mdi-download.mr-3.icon-lg.text-warning
                .d-flex.flex-column.justify-content-around
                  small.mb-1.text-muted Downloads
                  h5.mr-2.mb-0 2233783
              .d-flex.border-md-right.flex-grow-1.align-items-center.justify-content-center.p-3.item
                i.mdi.mdi-eye.mr-3.icon-lg.text-success
                .d-flex.flex-column.justify-content-around
                  small.mb-1.text-muted Total views
                  h5.mr-2.mb-0 9833550
              .d-flex.border-md-right.flex-grow-1.align-items-center.justify-content-center.p-3.item
                i.mdi.mdi-currency-usd.mr-3.icon-lg.text-danger
                .d-flex.flex-column.justify-content-around
                  small.mb-1.text-muted Revenue
                  h5.mr-2.mb-0 $577545
              .d-flex.py-3.border-md-right.flex-grow-1.align-items-center.justify-content-center.p-3.item
                i.mdi.mdi-flag.mr-3.icon-lg.text-danger
                .d-flex.flex-column.justify-content-around
                  small.mb-1.text-muted Flagged
                  h5.mr-2.mb-0 3497843
          #purchases.tab-pane.fade aria-labelledby="purchases-tab" role="tabpanel" 
            .d-flex.flex-wrap.justify-content-xl-between
              .d-none.d-xl-flex.border-md-right.flex-grow-1.align-items-center.justify-content-center.p-3.item
                i.mdi.mdi-calendar-heart.icon-lg.mr-3.text-primary
                .d-flex.flex-column.justify-content-around
                  small.mb-1.text-muted Start date
                  .dropdown
                    a#dropdownMenuLinkA.btn.btn-secondary.dropdown-toggle.p-0.bg-transparent.border-0.text-dark.shadow-none.font-weight-medium aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button" 
                    h5.mb-0.d-inline-block 26 Jul 2018
                    .dropdown-menu aria-labelledby="dropdownMenuLinkA" 
                      a.dropdown-item href="#"  12 Aug 2018
                      a.dropdown-item href="#"  22 Sep 2018
                      a.dropdown-item href="#"  21 Oct 2018
              .d-flex.border-md-right.flex-grow-1.align-items-center.justify-content-center.p-3.item
                i.mdi.mdi-currency-usd.mr-3.icon-lg.text-danger
                .d-flex.flex-column.justify-content-around
                  small.mb-1.text-muted Revenue
                  h5.mr-2.mb-0 $577545
              .d-flex.border-md-right.flex-grow-1.align-items-center.justify-content-center.p-3.item
                i.mdi.mdi-eye.mr-3.icon-lg.text-success
                .d-flex.flex-column.justify-content-around
                  small.mb-1.text-muted Total views
                  h5.mr-2.mb-0 9833550
              .d-flex.border-md-right.flex-grow-1.align-items-center.justify-content-center.p-3.item
                i.mdi.mdi-download.mr-3.icon-lg.text-warning
                .d-flex.flex-column.justify-content-around
                  small.mb-1.text-muted Downloads
                  h5.mr-2.mb-0 2233783
              .d-flex.py-3.border-md-right.flex-grow-1.align-items-center.justify-content-center.p-3.item
                i.mdi.mdi-flag.mr-3.icon-lg.text-danger
                .d-flex.flex-column.justify-content-around
                  small.mb-1.text-muted Flagged
                  h5.mr-2.mb-0 3497843
.row
  .col-md-7.grid-margin.stretch-card
    .card
      .card-body
        p.card-title Cash deposits
        p.mb-4 To start a blog, think of a topic about and first brainstorm party is ways to write details
        #cash-deposits-chart-legend.d-flex.justify-content-center.pt-3
        canvas#cash-deposits-chart
  .col-md-5.grid-margin.stretch-card
    .card
      .card-body
        p.card-title Total sales
        h1 $ 28835
        h4 Gross sales over the years
        p.text-muted Today, many people rely on computers to do homework, work, and create or store useful information. Therefore, it is important
        #total-sales-chart-legend
      canvas#total-sales-chart
.row
  .col-md-12.stretch-card
    .card
      .card-body
        p.card-title Recent Purchases
        .table-responsive
          table#recent-purchases-listing.table
            thead
              tr
                th Name
                th Status report
                th Office
                th Price
                th Date
                th Gross amount
            tbody
              tr
                td Jeremy Ortega
                td Levelled up
                td Catalinaborough
                td $790
                td 06 Jan 2018
                td $2274253
              tr
                td Alvin Fisher
                td Ui design completed
                td East Mayra
                td $23230
                td 18 Jul 2018
                td $83127
              tr
                td Emily Cunningham
                td support
                td Makennaton
                td $939
                td 16 Jul 2018
                td $29177
              tr
                td Minnie Farmer
                td support
                td Agustinaborough
                td $30
                td 30 Apr 2018
                td $44617
              tr
                td Betty Hunt
                td Ui design not completed
                td Lake Sandrafort
                td $571
                td 25 Jun 2018
                td $78952
              tr
                td Myrtie Lambert
                td Ui design completed
                td Cassinbury
                td $36
                td 05 Nov 2018
                td $36422
              tr
                td Jacob Kennedy
                td New project
                td Cletaborough
                td $314
                td 12 Jul 2018
                td $34167
              tr
                td Ernest Wade
                td Levelled up
                td West Fidelmouth
                td $484
                td 08 Sep 2018
                td $50862
