- sub_level_cnt ||= 1

.card
  .card-body
    .row
      - if data.as_json.keys.include? ('state')
        .col-md-4.item
          p.card-description State
          p = data.state
    br
    .row
      - data.as_json.keys.each do |key|
        - next if rejected_key(key)
        .col-md-4.item
          p.card-description = key.to_s.humanize.upcase
          - if data.send(key).is_a? Array
            ul
              - data.send(key)&.each do |item|
                - next unless item.present?
                li = item
          - elsif data.send(key).is_a? Time
            p = data.send(key)&.strftime("%a, %d %b %Y %H:%M %p")
          - elsif key == 'budget_amount'
            p #{data.budget_currency} #{data.send(key)}
          - elsif key == 'price'
            p #{data.currency} #{data.send(key)}
          - elsif key == 'size'
            p #{data.send(key)} #{data.size_unit}
          - elsif key.include? '_id'
            - if data.send(key).present?
              - if sub_level_cnt == 1
                = render partial: 'users/call_logs/partials/cards', locals: {data: data.send(key.gsub("_id","")), sub_level_cnt: (sub_level_cnt + 1)}
          - elsif key.include? 'has_'
              p #{data.send(key) ? 'YES' : 'NO'}
          - else
            p = data.send(key)