.row
  .col-md-7.grid-margin.stretch-card
    .row
      .col-md-12.grid-margin.stretch-card style='margin-bottom: 4px;'
        .card
          .options
            a href="#{users_call_log_path(@call_log)}" data-method="delete"
              i.mdi.mdi-delete.error
              ' DELETE
            a href="#{edit_users_call_log_path(@call_log)}"
              i.mdi.mdi-pen
              ' EDIT
      .col-md-12.grid-margin
        = render partial: 'users/call_logs/partials/cards', locals: {data: @call_log}
        br
        .card
          .card-body
            h4.card-title APPOINTMENT
            .row
              - if @call_log.appointments.exists?
                - @call_log.appointments.each do |appointment|
                  .col-md-4.item
                    p.card-description SCHEDULED DATE
                    p = appointment.scheduled_date.strftime("%A, %d %B %Y")
                  .col-md-4.item
                    p.card-description SCHEDULED TIME
                    p = appointment.scheduled_time.strftime("%H:%M")
                  .col-md-4.item
                    a.btn.btn-primary href="#{edit_users_appointment_path(id: appointment.id, cid: @call_log.id)}" Edit
                    = link_to('Remove', users_appointment_path(id: appointment.id, cid: @call_log.id), method: 'DELETE', data: {confirm: 'Do you want to delete?'}, class: 'btn btn-danger')
              - else
                a.btn.btn-primary href="#{new_users_appointment_path(cid: @call_log.id)}" Set Appointment
  .col-md-4.grid-margin
    .row
      .col-md-12
        p COMMENTS
        .card style="max-height: 600px; overflow-x: auto;"
          .card-body
            a.btn.btn-primary href="#{new_users_comment_path(cid: @call_log)}"
              i.mdi.mdi-pen New Comment
          - @call_log.comments.each do |comment|
            hr
            .card-body
              div style="text-align: right;color: #8a8a8a;"
                small = comment.created_at.strftime("%a, %d %b %Y %H:%M")
              p = comment.details
              div style="text-align: right;color: #8a8a8a;"
                small = comment.state
              a href="#{edit_users_comment_path(id: comment.id, cid: @call_log.id)}"
                i.mdi.mdi-pen Edit &nbsp; &nbsp;
              = link_to(users_comment_path(id: comment.id, cid: @call_log.id), method: 'DELETE', data: {confirm: 'Do you want to delete?'}) do
                i.mdi.mdi-delete.error Delete
