.card
  .card-body
    .row
      .col-md-12
        = form_for_filterrific @filterrific, html: { id: 'filterrific-no-ajax-auto-submit' } do |f|
          .row
            .col-md-3
              p Customer
              = f.text_field(:with_customer, class: 'form-control', placeholder: 'Customer First Name / Last Name /Telephone')
            .col-md-3
              p Property
              = f.text_field(:search_query, class: 'form-control', placeholder: 'Property Name / Property Location')
          br/
          .row
            .col-md-3
              p Name
              = f.select(:with_name, Property::PROPERTY_NAME , { include_blank: '- Any -' }, {class: 'form-control'})
            .col-md-3
              p Status
              = f.select(:with_status, Comment::STATES, { include_blank: '- Any -' }, {class: 'form-control'})
            .col-md-2
              p &nbsp; &nbsp;
              = f.submit 'Filter', class: 'btn btn-success'
          .row
            .col-md-2
              small
                = link_to('Reset filters', reset_filterrific_url, html: {class: 'btn btn-success'})
            .col-md-2
              p
              = render_filterrific_spinner