= simple_form_for(@role, as: :role, method: action, url: url) do |f|
  .row
    .col-md-12.form-group
      = f.input :name, label: "Role Name", input_html: {class: 'form-control', placeholder: 'e.g. Role name'}
  .row
    .col-md-12
      = f.button :submit, class: 'form-control btn-success'