.row
  .col-md-12.grid-margin
    .d-flex.justify-content-between.flex-wrap
      .d-flex.align-items-end.flex-wrap
        .mr-md-3.mr-xl-5
          h2 Roles
          p.mb-md-0 Create roles and permissions.
    br
    .d-flex.justify-content-between.flex-wrap
      .d-flex.align-items-end.flex-wrap
        .d-flex
          i.mdi.mdi-home.text-muted.hover-cursor
          p.text-muted.mb-0.hover-cursor &nbsp;/&nbsp;Dashboard&nbsp;/&nbsp;
          p.text-primary.mb-0.hover-cursor Roles

.row
  .col-md-12.stretch-card
    .card
      .card-body
        a.btn.btn-primary href="#{new_users_role_path}"
          i.mdi.mdi-plus
          | &nbsp; Create Role
        .table-responsive
          table#recent-purchases-listing.table
            thead
              tr
                th Name
                th Permissions
                th width="15%" Created At
                th
                th
            tbody
              - @roles.each do |role|
                tr
                  td = role.name
                  td
                    a href='#{permissions_users_role_path(role)}' Edit Permissions
                    / br
                    / - role.policy&.specs&.each do |key, value|
                    /   br
                    /   = key.titleize
                    /   pre
                    /     = value.keys.map(&:titleize).join("<br>").html_safe
                  td = role.created_at.strftime("%A %d, %B %Y")
                  td width="5%"
                    a href='#{edit_users_role_path(role)}'
                      i.mdi.mdi-pencil.btn-icon-prepend
                      | Edit
                  td width="5%"
                    a href='#{users_role_path(role)}' data-method="delete" rel="nofollow"
                      i.mdi.mdi-delete.btn-icon-prepend
                      | Delete