.row
  .col-md-12.grid-margin
    .d-flex.justify-content-between.flex-wrap
      .d-flex.align-items-end.flex-wrap
        .mr-md-3.mr-xl-5
          h2 Permissions
          p.mb-md-0 Edit permissions
    br
    .d-flex.justify-content-between.flex-wrap
      .d-flex.align-items-end.flex-wrap
        .d-flex
          i.mdi.mdi-home.text-muted.hover-cursor
          p.text-muted.mb-0.hover-cursor &nbsp;/&nbsp;Dashboard&nbsp;/&nbsp;
          p.text-muted.mb-0.hover-cursor Roles / &nbsp;
          p.text-muted.mb-0.hover-cursor Permissions / &nbsp; 
          p.text-primary.mb-0.hover-cursor Edit

.row
  .col-md-4.stretch-card
    .card
      .card-body
        = simple_form_for(@policy, as: :policy, method: :patch, url: update_permissions_users_role_path(@policy.role)) do |f|
          .row
            .col-md-12.form-group
              - @default_policy.each do |key, values|
                = key.titleize
                br
                - values.each do |value|
                  span.checkbox
                    = check_box_tag "policy[specs][#{key}][#{value[0]}]", 'yes', @policy.specs[key].try(:[],value[0]).present?, id: "#{key}_#{value[0]}"
                    label for="#{key}_#{value[0]}" #{value[0].titleize} 
                br
          .row
            .col-md-12
              = f.button :submit, class: 'form-control btn-success'