.row
  .col-md-12.grid-margin
    .d-flex.justify-content-between.flex-wrap
      .d-flex.align-items-end.flex-wrap
        .mr-md-3.mr-xl-5
          h2 Customers
          p.mb-md-0 List of customers.
        .d-flex
          i.mdi.mdi-home.text-muted.hover-cursor
          p.text-muted.mb-0.hover-cursor &nbsp;/&nbsp;Dashboard&nbsp;/&nbsp;
          p.text-primary.mb-0.hover-cursor Customers

.row
  .col-md-12.stretch-card
    .card
      .card-body
        .row
          .col-md-8
            a.btn.btn-primary href="#{new_users_customer_path}"
              i.mdi.mdi-plus
              | &nbsp; New Customer
          .col-md-4
            / = search_form_for @q, url: users_call_logs_path do |f|
            /   = f.search_field :code_or_category_or_location_or_name_or_state_or_offer_type_cont, class: 'form-control', placeholder: 'Search Customer'
        .table-responsive
          table#recent-purchases-listing.table
            thead
              tr
                th ID
                th First Name
                th Last Name
                th Telephone Number
                th Email
                th Logged At
                th
            tbody
              - @customers.each do |customer|
                tr
                  td = customer.id
                  td = customer.first_name
                  td = customer.last_name
                  td = customer.telephone
                  td = customer.email
                  td = customer.created_at.strftime("%d %B %Y")
        = paginate @customers