<!DOCTYPE html>
<html>
  <head>
    <title><%= current_account.present? ? "#{current_account&.name} ||" : "" %> grapeio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>  <!-- End custom js for this page-->
    <%= action_cable_meta_tag %>
    <!-- endinject -->
    <link rel="shortcut icon" href="favicon.png" />
  </head>

  <body class="sidebar-icon-only">
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <% if user_signed_in? %>
        <%= render partial: "components/navbar" %>
        <div class='container-fluid page-body-wrapper'>
          <%= render partial: "components/sidebar" %>
          <div class='main-panel'>
            <div class='content-wrapper'>
              <%= render 'components/messages' %>
              <%= yield %>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2018 <a href="#" target="_blank">grapeio</a>. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
          </div>
        </footer>
        <!-- partial -->
      <% else %>
        <div class="container-fluid page-body-wrapper full-page-wrapper">
          <%= yield %>
        </div>
      <% end %>
    </div>
    
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'filters' %>
  </body>
</html>
