<template>
  <div>
    <div class="row">
      
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import moment from 'moment';
import Tagify from '@yaireo/tagify'

export default {
  name: 'Filters',
  props: ['preferences'],
  data() {
    return {
      fields: [],
      selectedFields: [],
      options: [],
      filterFields: [],
      filterResults: [],
      columns: ["offer_type", "category", "code", "build_type", "name", "currency", "price", "tenure", "location", ],
      sliderOptions:  {
        width: 'auto',
        interval: 10,
        tooltip: 'always',
        tooltipPlacement: 'bottom',
        enableCross: false
      },
      intFields: ['size','price','bedrooms','bathrooms']
    }
  },
  methods: {
    getFields(){
      let vm = this;
      axios.get('/filters', {params: {type: 'property'}})
        .then(function (response) {
          vm.fields = response.data;
          vm.getProperties();
          vm.setFields();
          vm.buildFilter();
        });
    },
    getOptions(selectedField, id){
      let vm = this;
      let params = {params: {field: selectedField, type: 'property'}};
      axios.get('/filters/options', params)
        .then(function (response) {
          vm.buildOptions(selectedField, response.data);
        });
    },
    removeField(removedOption, id){
      for(var i=0; i < this.selectedFields.length; i++) {
        if(this.filterFields[i].name == removedOption)
        {
          this.filterFields.splice(i,1);
        }
      }
    },
    buildOptions(field, responseData){
      let fieldData = {name: field, title: field, options: responseData, selectedOptions: []}
      
      // TODO: Check all int and float fields and use a slider
      if(this.isIntField(field)){
        if(responseData.length == 1){
          responseData.push(0)
        }
        let min = Math.min(...responseData)
        let max = Math.max(...responseData)
        fieldData.options = [min, max]
        fieldData.selectedOptions = fieldData.options
        fieldData.sliderOptions = {min: min, max: max, tooltip: 'always', tooltipPlacement: 'bottom'}
      }

      // TODO: Check all date fields and use date
      this.filterFields.push(fieldData)
    },
    isIntField(field){
      return this.intFields.includes(field)
    },
    getProperties(){
      var vm = this;
      let params = {params: {filters: this.filterFields}};
      $("#log_preference").val(JSON.stringify(this.filterFields));
      axios.get('/properties.json', params)
        .then(function (response) {
          vm.filterResults = response.data;
        });
      return false;
    },
    propertyPath(id){
      return "/properties/"+id
    },
    editPropertyPath(id){
      return "/properties/"+id+"/edit"
    },
    setFields(){
      if(this.preferences !== undefined){
        this.filterFields = JSON.parse(this.preferences);
      }
    },
    formatDate(str){
      return moment(str).format('YYYY-MM-DD');
    },
    formatTime(str){
      return moment(str).format('HH:mm:ss a');
    },
    buildFilter(){
      // Build filter tags
      var input = document.querySelector('#filter')
      var tagify = new Tagify(input,{
        whitelist : this.fields,
        dropdown : {
          enabled: 0
        }
      });
    }
  },
  mounted() {
    // get the options
    this.getFields();
  },
}
</script>
