.card
  .card-body
    .row
      .col-md-12
        = form_for_filterrific @filterrific, html: { id: 'filterrific-no-ajax-auto-submit' } do |f|
          .row
            .col-md-3
              p Customer
              = f.text_field(:with_customer, class: 'form-control', placeholder: 'Customer First Name / Last Name /Telephone')
          br/
          .row
            .col-md-3
              p Status
              = f.select(:with_state, Comment::STATES, { include_blank: '- Any -' }, {class: 'form-control'})
            .col-md-2
              p &nbsp; &nbsp;
              = f.submit 'Filter', class: 'btn btn-success'
          .row
            .col-md-2
              small
                = link_to('Reset filters', reset_filterrific_url, html: {class: 'btn btn-success'})
            .col-md-2
              p
              = render_filterrific_spinner