= simple_form_for(@comment, defaults: { wrapper: false }, as: :comment, method: action, url: url) do |f|
  .row
    .col-md-12
      .row
        .form-group.col-md-12
          = f.input :details, as: :text, label: "Details", input_html: {class: 'form-control', rows: '10'}
        .form-group.col-md-4
          = f.input :state, collection: Comment::STATES, input_html: {class: 'form-control'}
  .row
    .col-md-4
      = f.button :submit, class: 'form-control btn-success'
