.row
  .col-md-12.grid-margin
    .d-flex.justify-content-between.flex-wrap
      .d-flex.align-items-end.flex-wrap
        .mr-md-3.mr-xl-5
          h2 Comments
          p.mb-md-0 Edit comment
        .d-flex
          i.mdi.mdi-home.text-muted.hover-cursor
          p.text-muted.mb-0.hover-cursor &nbsp;/&nbsp;Dashboard&nbsp;/&nbsp;
          p.text-muted.mb-0.hover-cursor &nbsp;Comments&nbsp;/&nbsp;
          p.text-primary.mb-0.hover-cursor Edit

.col-md-6.grid-margin.stretch-card
  .card
    .card-body
      h4.card-title Edit Comment
      = render partial: "form", locals: {action: :put, url: users_comment_path(id: @comment.id, cid: params[:cid])}
