/*-------------------------------------------------------------------*/
/* === Landing screens === */
/* Auth */
.auth .login-half-bg {
  background: image-url("auth/login-bg.jpg");
  background-size: cover;
}

.auth .team-half-bg {
  background: image-url("auth/team-bg.png");
  background-size: cover;
}

.auth .register-half-bg {
  background: image-url("auth/register-bg.jpg");
  background-size: cover;
}

.auth.lock-full-bg {
  background: image-url("auth/lockscreen-bg.jpg");
  background-size: cover;
}