table{
  thead{
    th{
      font-size: 12px;
    }
  }

  tbody{
    tr{
      td{
        padding: 8px;
      }
    }
  }
}

.dataTables_wrapper{
  .dataTable{
    thead{ 
      th{
        font-size: 12px;
        padding: 12px !important;

        &::before{
          bottom: 0.5rem !important;
        }

        &::after{
          bottom: 0.1rem !important;
        }
      }
    }
  }
}

.form-group{
  .checkbox{
    display: block;

    input[type='checkbox']{
      margin-right: 12px;
    }

    label{
      font-weight: lighter;
    }
  }

  label{
    font-weight: bolder;
  }
}

.datetime{
  label{
    display: block;
  }
}

.filters{
  margin: 24px 0px;
}


.ac-q{
  background: #f8f8f8;
  padding: 8px;
  font-weight: bolder;
  border-radius: 4px;
  cursor: pointer;
}

.ac {
  border-bottom: 1px solid #8a8a8a;
  border-top: 1px solid #f8f8f8;
}

.ac-a{
  border-bottom: 24px solid #f8f8f8;
  padding-bottom: 8px;
}

.selected-filter{
  .col-md-4{
    background: #f8f8f8;
    border-radius: 8px;
    padding: 8px 20px;
    border: 10px solid #fff;
  }
}

.error{color: red;}

.picture{
  border: 1px solid #d8d8d8;
  padding: 4px;
  position: relative;
  margin-bottom: 8px;
  display: inline-flex;
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-size: 100%;

  a{
    position: absolute;
    right: 4px;
    color: red;
  }

  input[type='checkbox']{
    position: absolute;
    left: 4px;
  }
}

.pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
}

.pagination {
    border-left: 1px solid #ddd;
    .first{
        padding : 0;
        float: none;
        border: none;
    }
    .prev {
        padding : 0;
        float: none;
        border: none;
    }
    .page{
        padding : 0;
        float: none;
        border: none;
    }
    .next{
        padding : 0;
        float: none;
        border: none;
    }
    .last{
        padding : 0;
        float: none;
        border: none;
    }
}


.progress-wrapper{
  display: none;
}

.no-margin-bottom{
  margin-bottom: 0px !important;
}

ul.nav{
  &.nav-pills{
    margin-bottom: 12px;
    font-size: 12px;

    li{
      &.active{
        background: #4d83ff;
        color: #fff;
      }
    }

    a{
      padding: 12px 28px;
      font-weight: bolder;
      border: 1px solid #e7eaed;
      background: #fff;
      text-decoration: none;

      &.active{
        background: linear-gradient(180deg, #0741ab, #213365);
        color: #fff;
      }
    }
  }
}

.compact-table{
  tbody{
    tr{
      td{
        font-size: 12px !important;
      }
    }
  }

  thead{
    tr{
      th {
        font-size: 12px !important;
      }
    }
  }
}

.item{
  padding: 8px;
  font-size: 12px;
  border: 1px solid #f8f8f8;

  p.card-description{
    font-weight: bolder;
    margin-bottom: 0px;
    font-size: 10px;
    color: black;
    text-transform: uppercase;
  }
}

.options{
  width: 100%;
  position: relative;

  a{
    padding: 8px 26px;
    font-size: 12px;
    background: linear-gradient(180deg, #eaeaea, #c5c5c5, #efefef);
    color: #6f6e6e;
    text-decoration: none;
    font-weight: bolder;
    float: right;
    margin: 8px;
  }
}