@font-face {
  font-family: 'Roboto';
  src: font-url("Roboto/Roboto-Light.eot");
  src: font-url("Roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"), font-url("Roboto/Roboto-Light.woff2") format("woff2"), font-url("Roboto/Roboto-Light.woff") format("woff"), font-url("Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: font-urlrl("Roboto/Roboto-Bold.eot");
  src: font-url("Roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), font-url("Roboto/Roboto-Bold.woff2") format("woff2"), font-url("Roboto/Roboto-Bold.woff") format("woff"), font-url("Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: font-url("Roboto/Roboto-Medium.eot");
  src: font-url("Roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"), font-url("Roboto/Roboto-Medium.woff2") format("woff2"), font-url("Roboto/Roboto-Medium.woff") format("woff"), font-url("Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: font-url("Roboto/Roboto-Regular.eot");
  src: font-url("Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), font-url("Roboto/Roboto-Regular.woff2") format("woff2"), font-url("Roboto/Roboto-Regular.woff") format("woff"), font-url("Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: font-url("Roboto/Roboto-Black.eot");
  src: font-url("Roboto/Roboto-Black.eot?#iefix") format("embedded-opentype"), font-url("Roboto/Roboto-Black.woff2") format("woff2"), font-url("Roboto/Roboto-Black.woff") format("woff"), font-url("Roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face{
  font-family:"Material Design Icons";
  src: font-url("material/materialdesignicons-webfont.eot?v=3.6.95");
  src: font-url("material/materialdesignicons-webfont.eot?#iefix&v=3.6.95") format("embedded-opentype"),
  font-url("material/materialdesignicons-webfont.woff?v=3.6.95") format("woff"),
  font-url("material/materialdesignicons-webfont.ttf?v=3.6.95") format("truetype"),
  font-url("material/materialdesignicons-webfont.svg?v=3.6.95#materialdesigniconsregular") format("svg");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: "Font Awesome 5 Brands";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: font-url("home/fa-brands-400.eot");
  src: font-url("home/fa-brands-400.eot?#iefix") format("embedded-opentype"),
  font-url("home/fa-brands-400.woff2") format("woff2"),
  font-url("home/fa-brands-400.woff") format("woff"),
  font-url("home/fa-brands-400.ttf") format("truetype"),
  font-url("home/fa-brands-400.svg#fontawesome") format("svg")
}

.fab {
  font-family: "Font Awesome 5 Brands"
}

@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: font-url("home/fa-regular-400.eot");
  src: font-url("home/fa-regular-400.eot?#iefix") format("embedded-opentype"),
  font-url("home/fa-regular-400.woff2") format("woff2"),
  font-url("home/fa-regular-400.woff") format("woff"),
  font-url("home/fa-regular-400.ttf") format("truetype"),
  font-url("home/fa-regular-400.svg#fontawesome") format("svg")
}

.far {
  font-weight: 400
}

@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: font-url("home/fa-regular-400.eot");
  src: font-url("home/fa-regular-400.eot?#iefix") format("embedded-opentype"),
  font-url("home/fa-regular-400.woff2") format("woff2"),
  font-url("home/fa-regular-400.woff") format("woff"),
  font-url("home/fa-regular-400.ttf") format("truetype"),
  font-url("home/fa-regular-400.svg#fontawesome") format("svg")
}