<template>
  <div>
      <div class="ac">
          <div class="table-responsive">
            <table id="compact-table" class="table table-hover">
              <thead>
                <tr>
                  <th>DATE</th>
                  <th>TIME</th>
                  <th>CODE</th>
                  <th>NAME</th>
                  <th>STATE</th>
                  <th>OFFER TYPE</th>
                  <th>CATEGORY</th>
                  <th>PRICE</th>
                  <th>TENURE</th>
                  <th>CITY</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, index) in filterResults" :key="index">
                  <td>{{formatDate(item.created_at)}}</td>
                  <td>{{formatTime(item.created_at)}}</td>
                  <td><a :href="propertyPath(item.id)">{{item.code}}</a></td>
                  <td>{{item.name}}</td>
                  <td>{{item.state}}</td>
                  <td>{{item.offer_type}}</td>
                  <td>{{item.category}}</td>
                  <td>{{item.currency}}{{item.price}}</td>
                  <td>{{item.tenure}}</td>
                  <td>{{item.location_city}}</td>
                  <td><a :href="propertyPath(item.id)">View</a></td>
                  <td><a :href="editPropertyPath(item.id)">Edit</a></td>
                  <td><a :href="propertyPath(item.id)" data-method="delete" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
  </div>
</template>

<script>
import axios from 'axios';
import moment from 'moment';

export default {
  name: 'Filters',
  props: ['preferences'],
  data() {
    return {
      fields: [],
      selectedFields: [],
      options: [],
      filterFields: [],
      filterResults: [],
      columns: ["offer_type", "category", "code", "build_type", "name", "currency", "price", "tenure", "location", ],
      sliderOptions:  {
        width: 'auto',
        interval: 10,
        tooltip: 'always',
        tooltipPlacement: 'bottom',
        enableCross: false
      },
      intFields: ['size','price','bedrooms','bathrooms']
    }
  },
  methods: {
    getFields(){
      let vm = this;
      axios.get('/filters', {params: {type: 'property'}})
        .then(function (response) {
          vm.fields = response.data;
          vm.getProperties();
          vm.setFields();
          vm.buildFilter();
        });
    },
    getOptions(selectedField, id){
      let vm = this;
      let params = {params: {field: selectedField, type: 'property'}};
      axios.get('/filters/options', params)
        .then(function (response) {
          vm.buildOptions(selectedField, response.data);
        });
    },
    removeField(removedOption, id){
      for(var i=0; i < this.selectedFields.length; i++) {
        if(this.filterFields[i].name == removedOption)
        {
          this.filterFields.splice(i,1);
        }
      }
    },
    buildOptions(field, responseData){
      let fieldData = {name: field, title: field, options: responseData, selectedOptions: []}
      
      // TODO: Check all int and float fields and use a slider
      if(this.isIntField(field)){
        if(responseData.length == 1){
          responseData.push(0)
        }
        let min = Math.min(...responseData)
        let max = Math.max(...responseData)
        fieldData.options = [min, max]
        fieldData.selectedOptions = fieldData.options
        fieldData.sliderOptions = {min: min, max: max, tooltip: 'always', tooltipPlacement: 'bottom'}
      }

      // TODO: Check all date fields and use date
      this.filterFields.push(fieldData)
    },
    isIntField(field){
      return this.intFields.includes(field)
    },
    getProperties(){
      var vm = this;
      let params = {params: {filters: this.filterFields}};
      $("#log_preference").val(JSON.stringify(this.filterFields));
      axios.get('/properties.json', params)
        .then(function (response) {
          vm.filterResults = response.data;
        });
      return false;
    },
    propertyPath(id){
      return "/properties/"+id
    },
    editPropertyPath(id){
      return "/properties/"+id+"/edit"
    },
    setFields(){
      if(this.preferences !== undefined){
        this.filterFields = JSON.parse(this.preferences);
      }
    },
    formatDate(str){
      return moment(str).format('YYYY-MM-DD');
    },
    formatTime(str){
      return moment(str).format('HH:mm:ss a');
    },
    buildFilter(){
    }
  },
  mounted() {
    // get the options
    // this.getFields();
  },
}
</script>
