<template>
    <section>
        <b-field v-bind:label="label">
            <b-taginput
                v-model="selectedOptions"
                ellipsis
                :data="filteredTags"
                icon="label"
                placeholder="Add a tag">
            </b-taginput>
        </b-field>
        {{selected_values}}
        <input type="hidden" v-bind:name="name"
                v-for="option in selectedOptions"
                v-bind:value="option"
                v-bind:key="option" />
    </section>
</template>

<script>
    
    export default {
        name: 'Multiselect',
        props: ['label', 'name', 'options', 'selected_values'],
        data() {
            return {
                selectedOptions: [],
                filteredTags: []
            }
        },
        beforeMount: function(){
            this.filteredTags = this.options.trim();
            if(this.filteredTags == ""){
                this.filteredTags = []
            }else{
                this.filteredTags = this.options.split(",")
            }

            this.selected_values = this.selected_values.trim()
            if(this.selected_values == ""){
                this.selectedOptions = []
            }else{
                this.selectedOptions = this.selected_values.split(",")
            }
        },
        methods: {
            getFilteredTags(text) {
                this.filteredTags = this.options.filter((option) => {
                    return option.toString()
                        .toLowerCase()
                        .indexOf(text.toLowerCase()) >= 0
                })
            }
        }
    }
</script>
