<template>
    <section>
        <b-field label="LOCATION">
            <b-taginput
                v-model="options"
                ellipsis
                icon="label"
                placeholder="Add a tag">
            </b-taginput>
        </b-field>
    </section>
</template>

<script>
    
    export default {
        name: 'Multiselect',
        props: ['label', 'name', 'options'],
        data() {
            return {

            }
        },
        beforeMount: function(){
            this.options = this.options.trim();
            if(this.options == ""){
                this.options = [];
            }else{
                this.options = this.options.split(",");
            }
        }
    }
</script>
