<template>
    <section>
        <b-field v-bind:label="label">
            <b-taginput
                v-model="selectedOptions"
                ellipsis
                icon="label"
                placeholder="Add a tag">
            </b-taginput>
        </b-field>
    </section>
</template>

<script>
    
    export default {
        name: 'Multiselect',
        props: ['label', 'name', 'options'],
        data() {
            return {
                selectedOptions: []
            }
        },
        beforeMount: function(){
            this.selectedOptions = this.options.trim();
            if(this.selectedOptions == ""){
                this.selectedOptions = [];
            }else{
                this.selectedOptions = this.options.split(",");
            }
        }
    }
</script>
