<template>
    <section>
        <b-field label="LOCATION">
            <b-taginput
                v-model="tags"
                ellipsis
                icon="label"
                placeholder="Add a tag">
            </b-taginput>
        </b-field>
    </section>
</template>

<script>
    
    export default {
        name: 'Multiselect',
        props: ['label', 'name', 'options'],
        data() {
            return {
                tags: [
                    'Auckld',
                    'Wellington',
                    'Very long string that would overflow'
                ]
            }
        }
    }
</script>
