<!DOCTYPE HTML>
<html>
	<head>
    <title><%= current_account.present? ? "#{current_account&.name} ||" : "" %> grapeio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'home', media: 'all' %>  <!-- End custom js for this page-->
    <%= action_cable_meta_tag %>
    <!-- endinject -->
    <link rel="shortcut icon" href="favicon.png" />
    <%= render partial: "components/gtag" %>
	</head>
	<body class="is-preload">
    <%= render 'components/messages' %>
    <%= yield %>
		<!-- Scripts -->
    <%= javascript_include_tag 'home' %>
	</body>
</html>