.content-wrapper.d-flex.align-items-stretch.auth.auth-img-bg
  .row.flex-grow
    .col-lg-6.d-flex.align-items-center.justify-content-center
      .auth-form-transparent.text-left.p-3
        .brand-logo
          = image_tag("logo/logo.png")
        h4 Forgot team?
        = render 'components/messages'
        = form_tag(accounts_path, class: 'pt-3') do |f| 
          .form-group
            label for="e" Your Email
            = text_field nil, :email, autofocus: true, class: 'form-control form-control-lg', placeholder: "user@example.com"
          .my-3
            = submit_tag "REMEMBER TEAM NAMES", class: 'btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn'
          .form-group
            .input-group
              = link_to  "Already have a team? Find team", accounts_path, class: 'auth-link text-black'
          .form-group
            .input-group
              = link_to  "Create a new workspace for your team", new_account_path, class: 'auth-link text-black'
    .col-lg-6.team-half-bg.d-flex.flex-row
      p.text-white.font-weight-medium.text-center.flex-grow.align-self-end Copyright &copy; 2018  All rights reserved.
