.content-wrapper.d-flex.align-items-stretch.auth.auth-img-bg
  .row.flex-grow
    .col-lg-6.d-flex.align-items-center.justify-content-center
      .auth-form-transparent.text-left.p-3
        .brand-logo
          = image_tag("logo/logo.png")
        h4 Welcome back!
        = render 'components/messages'
        = form_tag(find_team_accounts_path, class: 'pt-3') do |f| 
          .form-group
            label for="e"  Company / Workspace Name
            = text_field nil, :team_name, autofocus: true, class: 'form-control form-control-lg', placeholder: "ABC Company"
          .my-3
            = submit_tag "FIND TEAM", class: 'btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn'
          .form-group
            .input-group
              = link_to  "Create a new workspace for your team", new_account_path, class: 'auth-link text-black'
          .form-group
            .input-group
              = link_to  "I don't remember team's name?", forgot_accounts_path, class: 'auth-link text-black'
    .col-lg-6.login-half-bg.d-flex.flex-row
      p.text-white.font-weight-medium.text-center.flex-grow.align-self-end Copyright &copy; 2018  All rights reserved.
