.content-wrapper.d-flex.align-items-stretch.auth.auth-img-bg
  .row.flex-grow
    .col-lg-6.d-flex.align-items-center.justify-content-center
      .auth-form-transparent.text-left.p-3
        .brand-logo
          = image_tag("logo/logo.png")
        h4 Welcome back!
        = render 'components/messages'
        = form_for(@account, class: 'pt-3') do |f| 
          .form-group
            label for="e"  Company / Workspace Name
            = f.text_field :name, autofocus: true, class: 'form-control form-control-lg', placeholder: "ABC Company"
          = f.fields_for :owner do |o|
            .form-group
              label for="first_name"  First Name
              = o.text_field :first_name, autofocus: true, class: 'form-control form-control-lg'
            .form-group
              label for="last_name"  Last Name
              = o.text_field :last_name, autofocus: true, class: 'form-control form-control-lg'
            .form-group
              label for="email"  Email
              = o.email_field :email, autofocus: true, class: 'form-control form-control-lg', placeholder: "user@email.com"
            .form-group
              label for="password"  Password
              = o.password_field :password, autofocus: true, class: 'form-control form-control-lg'
            .form-group
              label for="email"  Confirm Password
              = o.password_field :password_confirmation, autofocus: true, class: 'form-control form-control-lg'
          .my-3
            = f.submit "CREATE TEAM", class: 'btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn'
          .form-group
            .input-group
              = link_to  "Already have a team? Find team", accounts_path, class: 'auth-link text-black'
          .form-group
            .input-group
              = link_to  "I don't remember team's name?", forgot_accounts_path, class: 'auth-link text-black'
    .col-lg-6.team-half-bg.d-flex.flex-row
      p.text-white.font-weight-medium.text-center.flex-grow.align-self-end Copyright &copy; 2018  All rights reserved.
