.row
  .col-md-8.grid-margin.stretch-card
    .row
      .col-md-12.grid-margin.stretch-card style='margin-bottom: 4px;'
        .card
          .options
            - if can?("delete", "properties")
              a href="#{users_property_path(@property)}" data-method="delete"
                i.mdi.mdi-delete.error
                ' DELETE
            - if can?("edit", "properties")
              a href="#{edit_users_property_path(@property)}"
                i.mdi.mdi-pen
                ' EDIT
      .col-md-12.grid-margin.stretch-card
        = render partial: 'users/call_logs/partials/cards', locals: {data: @property}
        / .card
          .card-body
            h4.card-title Property's Detail (#{@property.state.humanize.upcase})
            .row
              - @property.as_json.keys.each do |key|
                - next if rejected_key(key)
                .col-md-4.item
                  p.card-description = key.to_s.humanize.upcase
                  - if @property.send(key).is_a? Array
                    ul
                      - @property.send(key)&.each do |item|
                        - next unless item.present?
                        li = item
                  - elsif @property.send(key).is_a? Time
                    p = @property.send(key)&.strftime("%A, %d %B %Y %H:%M %p")
                  - elsif key == 'price'
                    p #{@property.currency} #{@property.send(key)}
                  - elsif key == 'size'
                    p #{@property.send(key)} #{@property.size_unit}
                  - elsif key == 'has_caretaker'
                    p #{@property.send(key) ? 'YES' : 'NO'}
                  - else
                    p = @property.send(key)
  .col-md-4.grid-margin.stretch-card
    .card
      .card-body
        h4.card-title Property Images
        input type="checkbox" id="select_all"
        label for="select_all" 
          small &nbsp; SELECT ALL
        = form_for @property, url: download_pics_users_property_path(@property) do |f|
          - @property.images.order('created_at').each do |image|
            .col-md-4.picture style="background-image: url(#{image.variable? ? url_for(image.variant(Property.sizes[:thumbnail]).processed) : url_for(image)})"
              a href="#{remove_pic_users_property_path(@property, iid: image.id)}"
                i.mdi.mdi-delete
              input.pic_select type="checkbox" name='images[]' value="#{image.id}"
          br
          = f.button "Download files", class: 'btn btn-primary'
        br
        br
        hr
        br
        = form_for @property, url: upload_pic_users_property_path(@property), html: { multipart: true } do |f|
          = f.file_field :images, multiple: true, accept: "image/jpeg, image/jpg, image/gif, image/png", class: 'form-control', required: true, capture: true
          br
          = f.submit "Upload Image", class: 'btn btn-success'
- if can?("transition","properties")
  .row
    .col-md-3.grid-margin.stretch-card
      .card
        .card-body
          h4.card-title Property Transition
          = simple_form_for @property, defaults: { wrapper: false }, url: transition_users_property_path(@property) do |f|
            = f.input :state, collection: Property::STATES, input_html: {class: 'form-control'}, label: "Property State"
            br
            = f.submit "Update State", class: 'btn btn-success form-control'


javascript:
  $(document).ready(function(){
    $("div.picture").click(function(){
      $(this).children('input')[0].click();
    })

    $("#select_all").click(function(){
      $('.pic_select').not(this).prop('checked', this.checked);
    })
  })