.card
  .card-header
    h5
      b.filter-toggle style="cursor: pointer;" FILTERS >
  .card-body.filters
    .row
      .col-md-12
        = form_for_filterrific @filterrific, html: { id: 'filterrific-no-ajax-auto-submit' } do |f|
          .row
            .col-md-5
              p Search
              = f.text_field(:search_query, class: 'form-control', placeholder: 'Property Name / Code / Suburb')
          br/
          .row
            .col-md-3
              p Name
              = f.select(:with_name, Property::PROPERTY_NAME , { include_blank: '- Any -' }, {class: 'form-control'})
            .col-md-3
              p State
              = f.select(:with_state, [['Pending', 'pending'], ['Reviewed', 'reviewed'], ['Approved', 'approved'], ['Published', 'published'], ['Unpublished', 'unpublished'], ['Rejected', 'rejected'], ['Selling', 'selling'], ['Sold', 'sold'], ['Renting', 'renting'], ['Rented Out', 'rented_out']], { include_blank: '- Any -' }, {class: 'form-control'})
            .col-md-3
              p Offer Type
              = f.select(:with_offer_type, Property::OFFER_TYPE, { include_blank: '- Any -' }, {class: 'form-control'})
            .col-md-3
              p Tenure
              = f.select(:with_tenure, Property::TENURE, { include_blank: '- Any -' }, {class: 'form-control'})
          br/
          .row
            .col-md-3
              p
                b Price
              .row
                .col-md-4
                  p Currency
                  = f.select(:with_currency, Property::CURRENCIES, { include_blank: '- Any -' }, {class: 'form-control'})
                .col-md-4
                  p From
                  = f.number_field(:price_gte, class: 'form-control', min: 0)
                .col-md-4
                  p To
                  = f.number_field(:price_lte, class: 'form-control', min: 0)
          .row
            .col-md-2
              p &nbsp; &nbsp;
              = f.submit 'Filter', class: 'btn btn-success'
              br/
              small
              = link_to('Reset filters', reset_filterrific_url, html: {class: 'btn btn-success'})
            .col-md-2
              p
              = render_filterrific_spinner

javascript:
  $(document).ready(function(){
    $('.filters').slideUp();
    $('.filter-toggle').click(function(){
      $('.filters').slideToggle();
    })
  })