.row
  .col-md-8.grid-margin.stretch-card
    .card
      .options
        a href="#{users_property_path(@property)}" data-method="delete"
          i.mdi.mdi-delete.error
          ' DELETE
        a href="#{edit_users_property_path(@property)}"
          i.mdi.mdi-pen
          ' EDIT
      .card-body
        h4.card-title Owner's Details
        .row
          - @property.owner.as_json.keys.each do |key|
            - next if rejected_key(key)
            .col-md-4.item
              p.card-description = key.to_s.humanize
              - if @property.owner.send(key).is_a? Array
                ul
                  - @property.owner.send(key)&.each do |item|
                    - next unless item.present?
                    li = item
              - elsif @property.owner.send(key).is_a? Time
                p = @property.owner.send(key)&.strftime("%A, %d %B %Y %H:%M %p")
              - else
                p = @property.owner.send(key)
