.row
  .col-md-12.grid-margin.stretch-card
    .card
      .card-body
        h4.card-title Payments
        .options
          - if ['approved', 'published'].include? @property.state
            - if @property.offer_type == 'Sale'
              a href="#{new_sale_users_property_path(@property)}"
                i.mdi.mdi-dollar
                ' SELL
            - else
              a href="#{new_rent_users_property_path(@property)}"
                i.mdi.mdi-dollar
                ' RENT OUT

        .table-responsive
          p Property Current State: 
          button.btn.btn-primary #{@property.state.humanize.upcase}
          table#recent-purchases-listing.table
            thead
              tr
                th Amount
                th Customer
                th Sold By
                th Date Sold
                - unless @property.offer_type == 'Sale'
                  th Rented From
                  th Rented To
            tbody
              - @property.payments.each do |payment|
                tr
                  td #{payment.currency} #{payment.amount}
                  td #{payment.customer.name}
                  td #{payment.seller.name}
                  td #{payment.date_sold.strftime("%A, %d %B %Y")}
                  - unless @property.offer_type == 'Sale'
                    td #{payment.rent_from.strftime("%A, %d %B %Y")}
                    td #{payment.rent_to.strftime("%A, %d %B %Y")}
